.chat-box {
	height: 100%;
	bottom: 0px;
	left: 0px;
	margin: auto;
}

.chat-box-output {
	height: calc(100% - 94px);
	border: 1px solid #ccc;
	border-radius: 5px 5px;
	overflow: auto;
}

.input-full-width {
	width: 100%;
}

.send-msg {
	float: left;
	clear: both;
	max-width: 65%;
	word-break: normal;
	margin: 2px 2px 0 2px;
}

.receive-msg {
	float: right;
	clear: both;
	max-width: 65%;
	word-break: normal;
	margin: 2px 2px 0 2px;
}