<div class="chat-box">
	<div class="chat-box-output">
		<md-chip-list *ngFor="let msg of msgs" [ngClass]="msg.msg_type">
			<md-chip>{{msg.content}}</md-chip>
		</md-chip-list>
		<progress-bar></progress-bar>
	</div>
	<div class="chat-box-input">
		<attachment-icon (onReadContent)="transferData($event)" (onReadInfo)="transferMeta($event)"></attachment-icon>
		<md-input-container class="input-full-width">
			<textarea [(ngModel)]="txt" (keyup.enter)="sendMessage()" mdInput placeholder="Type some text"></textarea>
		</md-input-container>
	</div>
</div>