<div class="chat-box">
	<div #message_display class="chat-box-output">
		<mat-chip-list *ngFor="let msg of msgs" [ngClass]="msg.msg_type">
			<mat-chip>{{msg.content}}</mat-chip>
		</mat-chip-list>
	</div>
	<div class="chat-box-input">
		<attachment-icon (onReadContent)="transferData($event)" (onReadInfo)="transferMeta($event)"></attachment-icon>
		<mat-input-container class="input-full-width">
			<textarea [(ngModel)]="inputMessage" (keyup.enter)="sendMessage()" matInput placeholder="Type some text"></textarea>
		</mat-input-container>
	</div>
</div>