<div class="media-box">
	<navigate-before-icon></navigate-before-icon>
	<mat-card class="video-frame" id="myVideo">
		<mat-card-header class="info">
			<div mat-card-avatar class="avatar-image" [ngStyle]="{'background-image': 'url(' + myProfile.avatar + ')'}"></div>
			<mat-card-title>{{myProfile.username}}</mat-card-title>
			<mat-card-subtitle>{{myProfile.status}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<video autoplay muted></video>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button>BUZZ</button>
			<button mat-raised-button>HIDE</button>
		</mat-card-actions>
	</mat-card>
	<mat-card *ngFor="let peer of peers" [id]="peer.sid" class="video-frame">
		<mat-card-header class="info">
			<div mat-card-avatar class="avatar-image" [ngStyle]="{'background-image': 'url(' + peer.avatar + ')'}"></div>
			<mat-card-title>{{peer.username}}</mat-card-title>
			<mat-card-subtitle>{{peer.status}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<video autoplay></video>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button>BUZZ</button>
			<button mat-raised-button>HIDE</button>
		</mat-card-actions>
	</mat-card>
	<navigate-next-icon></navigate-next-icon>
 </div>
